body {
    font-family: 'Nunito', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: lightgrey;
    .navBar {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-bottom: 1px solid grey;
    }
    .textLogo {
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
        span {
            padding-left: 20px;
        }
    }
    .nav {
        display:inline-block;
        margin:0;
        padding:0;
        padding-left: 40px;

    }
    .item {
        display: inline-block;
    
      button {
        margin: 0;
        padding: 10px;
        color: grey;
        background-color: white;
        &:hover { color:white; background:grey;}
         border: none;
         font-family:  'Nunito', sans-serif;
         font-size: 14px;
      }
   }
}
