.properties{
 
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  .sideNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 15%;
    padding-left: 10px;
    .filterTitle {
      font-size: 1.5em;
      background-color: white;
      width: 100%;
      padding: 10px;
    }
    .filterLink {
        width: 100%;
        text-decoration: none;
        margin: 0;
        padding: 10px;
        color: grey;
        background-color: white;
        font-family:  'Nunito', sans-serif;
        font-size: 1.125em;
        &:hover { color:white; background:purple;}
    }
  }
  .col-div {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 85%;
  }
  .col{
    background-color:white;
    margin: 22px;
    padding: 15px;
    font-size: 20px;
    // width: 50%;
    .title{
        font-size: 25px;
    }
    .propertyCardIcon{
        text-align: center;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: lightgrey;
    }
    #bedIcon{
        padding-right: 10px;
    }
    #bathIcon{
        padding-right: 14px;
    }
    #poundIcon{
        padding-right: 5px;
    }
    .email{
      text-align: center;
      background-color: purple;
        a{
        display: block;
        text-decoration:none;
        width: 100%;
        color: white;
        }
    }
    
  }
}


